:root {
  --border-radius: 0.5rem;

  /* colors */
  --dark-square-color: #759656;
  --light-square-color: #EEEED2;

  --dark-square-red-highlight: #D56D52;
  --light-square-red-highlight: #ED7F6B;

  --dark-square-blue-highlight: #5AABC3;
  --light-square-blue-highlight: #74BDDB;

  --dark-square-green-highlight: #A1C358;
  --light-square-green-highlight: #BAD573;

  --dark-square-yellow-highlight: #E4A625;
  --light-square-yellow-highlight: #FCB846;

  /* colors stolen from chess.com */
  --basicColor: hsla(0, 0%, 100%, .72);
  --basicHoverColor: #fff;
  --basicBgColor: hsla(0, 0%, 100%, .08);
  --basicBghover: hsla(0, 0%, 100%, .16);

  --basicBorderColor: hsla(0, 0%, 100%, .1);

  /* images */
  --board-image: url('https://www.chess.com/boards/icy_sea/150.png');

  /* breakpoints */
  --small-screen: 960px
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
}

body {
  background-image: url('https://images.chesscomfiles.com/uploads/v1/theme/101411-0.2d687d92.jpg');
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}